.section-top__link {
  margin-top: 15px;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #1A1B22;
}

.section-top__link::after {
  content: url("data:image/svg+xml,%3Csvg width='9' height='14' viewBox='0 0 9 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.58564 7.00008L0.292743 12.293L1.70696 13.7072L8.41406 7.00008L1.70696 0.292969L0.292743 1.70718L5.58564 7.00008Z' fill='%231A1B22'/%3E%3C/svg%3E%0A");
  margin-left: 10px;
}

.section-top__link:focus {
  color: #1A1B22;
  text-decoration: underline;
}

.section-top__link:hover {
  color: #1A1B22;
  text-decoration: underline;
}