@import url(./__avatar/slider-card__avatar.css);
@import url(./__date/slider-card__date.css);
@import url(./__mail/slider-card__mail.css);
@import url(./__name/slider-card__name.css);
@import url(./__text-container/slider-card__text-container.css);
@import url(./__text/slider-card__text.css);
@import url(./__container/slider-card__container.css);

.slider-card {
    box-sizing: border-box;
    background-color: #fff;
    min-height: 288px;
    max-width: 400px;
    margin: 0 16px 0 0;
    padding: 24px;
    list-style-type: none;
    border-radius: 16px;
  }
  
  .slider-card:last-of-type {
    margin-right: 0;
  }