.button {
  border: 0;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  min-height: 65px;
  cursor: url(../../images/Pointer.png), pointer;
}

@media screen and (max-width:550px) {
  .button {
    min-height: 56px;
  }
}