.preloader__circle {
  display: block;
  width: 50px;
  height: 50px;
  border: 1px solid;
  border-left-color: #555;
  border-top-color: #666;
  border-right-color: #777;
  border-bottom-color: #888;
  border-radius: 50%;
  margin: 0;
  animation: spin .75s infinite linear;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}