@import url(./_active/header__link_active.css);
@import url(./_theme_white/header__link_theme_white.css);

.header__link {
  color: #B6BCBF;
  margin-right: 34px;
}

.header__link:last-of-type {
  margin-right: 0;
}

.header__link_active {
  cursor: default;
  color: #fff;
  padding-bottom: 14%;
  border-bottom: solid 3px #fff;
}

.header__link:hover {
  color: #fff;
}

.header__link_theme_white:hover {
  color: #1A1B22;
}