.tech__image {
  margin-right: 37px;
}

.tech__image:last-of-type {
  margin-right: 0;
}

@media screen and (max-width: 680px) {
  .tech__image {
    margin-right: 0;
    width: 100px;
    height: 128px;
  }
}

@media screen and (max-width: 430px) {
  .tech__image {
    width: 120px;
    height: 153px;
  }

  .tech__image:nth-of-type(odd) {
    margin-right: 50px;
  }
}

@media screen and (max-width: 375px) {
  
  .tech__image:nth-of-type(odd) {
    margin-right: 0;
  }
}