.search__container {
  margin-left: 29%;
}

@media screen and (max-width:1100px) {
  .search__container {
    margin-left: 21%;
  }
}

@media screen and (max-width:550px) {
  .search__container {
    margin-left: 16px;
  }
}
