@import url(./__button/cards__button.css);
@import url(./__list/cards__list.css);

.cards {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 0 80px;
  background-color: #F5F6F7;
  min-height: 974px;
}

.cards_visible {
  display: flex;
}

@media screen and (max-width: 1024px) {
  .cards {
    padding-bottom: 40px;
  }
}
