.not-found__title {
  margin: 40px 0 0;
  font-family: 'Roboto Slab', Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 26px;
  line-height: 30px;
  color: #1A1B22;
  width: 24%;
  text-align: center;
}

@media screen and (max-width: 1024px) {
  .not-found__title {
    width: 35%;
  }
}