@import url(./__copyright/footer__copyright.css);
@import url(./__link/footer__link.css);
@import url(./__navigation/footer__navigation.css);
@import url(./__icon/footer__icon.css);

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 80px;
  padding: 0 104px 0;
}

@media screen and (max-width: 890px) {
  .footer {
    min-height: 63px;
    padding: 12px 40px;
  }
}