@import url(./__copyright/footer__copyright.css);
@import url(./__link/footer__link.css);
@import url(./__navigation/footer__navigation.css);
@import url(./__icon/footer__icon.css);
.footer {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 80px;
  padding: 24px 104px;
}

@media screen and (max-width: 1024px) {
  .footer {
    min-height: 64px;
    padding: 24px 40px;
  }
}

@media screen and (max-width: 550px) {
  .footer {
    align-items: flex-start;
    min-height: 184px;
    flex-wrap: wrap;
    padding: 20px 24px;
  }
}

@media screen and (max-width: 425px) {
  .footer {
    min-height: 224px;
    padding: 20px 16px 22px;
  }
}