@import url(./__container/card__container.css);
@import url(./__date/card__date.css);
@import url(./__image/card__image.css);
@import url(./__source/card__source.css);
@import url(./__text/card__text.css);
@import url(./__title/card__title.css);
.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  background-color: #fff;
  border-radius: 16px;
  max-height: 576px;
  transition: .3s;
  cursor: url(../../images/Pointer.png), pointer;
}

.card:hover {
  box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
}
