@import url(./__container/card__container.css);
@import url(./__date/card__date.css);
@import url(./__image/card__image.css);
@import url(./__source/card__source.css);
@import url(./__text/card__text.css);
@import url(./__title/card__title.css);
.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: calc((100vw - (240px))/3);
  background-color: #fff;
  border-radius: 16px;
  max-height: 576px;
}

