@import url(../vendor/fonts.css);
@import url(../vendor/normalize.css);

.page {
  
  max-width: 1540px;
  min-width: 320px;
  margin: 0 auto;
  position: relative;
}

.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.link {
  text-decoration: none;
  cursor: url(../images/Pointer.png), pointer;
}

.link:focus {
  outline: none;
}

.header {
  margin: 0 auto;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 100%;
  min-height: 80px;
  box-shadow: inset 0px -1px 0px rgba(255, 255, 255, 0.2);
}

.header__logo {
  margin-left: 104px;
}

.header__navigation {
  margin-right: 102px;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
}

.header__link {
  color: #B6BCBF;
  margin-right: 34px;
}

.header__link:last-of-type {
  margin-right: 0;
}

.header__link_active {
  cursor: default;
  color: #fff;
  padding-bottom: 14%;
  border-bottom: solid 3px #fff;
}

.header__link:hover {
  color: #fff;
}

.search {
  color: #fff;
  max-width: 100%;
  height: auto;
  background-image: url(../images/background.jpg);
  background-size: cover;
}

.search__container {
  margin-left: 29%;
}

.search__title {
  margin: 160px 0 32px 0;
  max-width: 55%;
  font-family: 'Roboto Slab', Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 60px;
  line-height: 64px;
}

.search__subtitle {
  margin: 0 0 64px 0;
  max-width: 55%;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
}

.search__input {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #1A1B22;
  min-height: 64px;
  width: 59%;
  border: 1px solid #D1D2D6;
  border-radius: 100px;
  padding-left: 24px;
  margin-bottom: 80px;
  backdrop-filter: blur(8px)
}

.search__input::placeholder {
  color: #B6BCBF;
}

.search__input:focus {
  outline: none;
  border: 2px #2F71E5 solid;
}

.button {
  border: 0;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  min-height: 65px;
  cursor: url(../images/Pointer.png), pointer;
}

.search__button {
  transform: translate(-100%, 0);
  color: #fff;
  min-width: 16.5%;
  background-color: #2F71E5;
  border-radius: 100px;
}

.search__button:hover {
  background-color: #347EFF;
}

.search__button:focus {
  outline: none;
  border: 2px #B6BCBF solid;
}

.search__button:active {
  background-color: #2A65CC;
}

@media screen and (min-width: 1440px) {
  .search__subtitle {
    width: 50%;
  }
}

.author {
  display: flex;
  padding: 80px 0 80px 104px;
}

.author__photo {
  max-width: 464px;
  max-height: 464px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 56px;
}

.author__container {
  color: #1A1B22;
  width: 41%;
}

.author__title {
  margin: 51px 0 24px 0;
  font-family: 'Roboto Slab', Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 40px;
  line-height: 46px
}

.author__subtitle {
  margin: 0;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 80px;
  padding: 0 104px 0;
}

.footer__copyright {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #B6BCBF;
}

.footer__navigation {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
}

.footer__link {
  color: #1A1B22;
  margin-right: 43px;
}

.footer__link:last-of-type {
  margin-right: 0;
}

.footer__link_icon {
  margin-right: 28px;
}

.footer__link_icon:last-of-type {
  margin-right: 0;
}

.footer__link:hover {
  color: #B6BCBF;
}

.footer__link:focus {
  color: #B6BCBF;
}

.footer__link_icon:focus {
  outline: solid;
  color: #1A1B22;
}

.footer__icon:hover {
  transform: scale(1.1);
}

.preloader {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #F5F6F7;
  min-height: 282px;
}

.preloader_visible {
  display: flex;
}

.preloader__circle {
  display: block;
  width: 50px;
  height: 50px;
  border: 1px solid;
  border-left-color: #555;
  border-top-color: #666;
  border-right-color: #777;
  border-bottom-color: #888;
  border-radius: 50%;
  margin: 0;
  animation: spin .75s infinite linear;
}

.preloader__text {
  margin: 24px 0 0;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: #B6BCBF;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

.not-found {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 374px;
  background: #F5F6F7;
}

.not-found_visible {
  display: flex;
}

.not-found__title {
  margin: 40px 0 0;
  font-family: 'Roboto Slab', Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 26px;
  line-height: 30px;
  color: #1A1B22;
  width: 24%;
  text-align: center;
}

.not-found__subtitle {
  margin: 16px 0 0;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: #B6BCBF;
  width: 24%;
  text-align: center;
}

.cards {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 80px 104px;
  background-color: #F5F6F7;
  min-height: 974px;
}

.section-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 72px;
  margin-bottom: 65px;
}

.section-top__title {
  margin: 0;
  font-family: 'Roboto Slab', Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 40px;
  line-height: 46px;
  color: #1A1B22;
}

.section-top__link {
  margin-top: 15px;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #1A1B22;
}

.section-top__link::after {
  content: url("data:image/svg+xml,%3Csvg width='9' height='14' viewBox='0 0 9 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.58564 7.00008L0.292743 12.293L1.70696 13.7072L8.41406 7.00008L1.70696 0.292969L0.292743 1.70718L5.58564 7.00008Z' fill='%231A1B22'/%3E%3C/svg%3E%0A");
  margin-left: 10px;
}

.section-top__link:focus {
  color: #1A1B22;
  text-decoration: underline;
}

.cards__list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  grid-gap: 16px;
  margin-bottom: 65px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 400px;
  background-color: #fff;
  border-radius: 16px;
  max-height: 576px;
}

.card__image {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 272px;
  max-width: 100%;
  object-fit: cover;
}

.card__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 24px 24px;
  max-width: 400px;
  max-height: 304px;
}

.card__date {
  font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: #B6BCBF;
  margin: 0 0 12px;
}

.card__title {
  font-family: 'Roboto Slab', Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 26px;
  line-height: 30px;
  color: #1A1B22;
  margin: 0 0 16px;
  max-width: 352px;
  min-height: 90px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

.card__text {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #1A1B22;
  margin: 0 0 18px;
  max-width: 352px;
  min-height: 88px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
}

.card__source {
  font-family: 'Roboto Slab', Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.4px;
  text-transform: uppercase;
  color: #B6BCBF;
  margin: 0;
}

.cards__button {
  background: #fff;
  border-radius: 80px;
  width: 20%;
  align-self: center;
}

.cards__button:focus {
  outline: none;
  text-decoration: underline;
}