.author__wrapper {
  align-self: center;
  padding-top: 34%;
  width: 34%;
  position: relative;
  margin-right: 80px;
}

@media screen and (max-width: 1024px) {
  .author__wrapper {
    width: 55%;
    margin-right: 30px;
    margin-top: 20px;
  }
}

@media screen and (max-width: 665px) {
  .author__wrapper {
    width: 75%;
    margin: 0;
  }
}

@media screen and (max-width: 425px) {
  .author__wrapper {
    width: 95%;
  }
}