.card__date {
  font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: #B6BCBF;
  margin: 0 0 12px;
  justify-self: flex-start;
}

@media screen and (max-width: 550px) {
  .card__date {
    margin-bottom: 22px;
  }
}