.tech__container {
  display: flex;
  justify-content: space-between;
  margin-top: 12px;
  margin-right: 8.3%;
}


@media screen and (max-width: 1260px) {
  .tech__container {
    margin-right: 4%;
  }
}

@media screen and (max-width: 1200px) {
  .tech__container {
    margin-right: 0;
  }
}