.tech__container {
  display: flex;
  justify-content: space-between;
  margin-top: 12px;
  margin-right: 9%;
}

@media screen and (max-width: 890px) {
  .tech__container {
    margin-right: 0;
    margin-top: 24px;
  }
}

@media screen and (max-width: 690px) {
  .tech__container {
    flex-wrap: wrap;
    padding: 56px 16px 16px;
  }
}