.clients__paragraph {
    width: 61%;
    margin: 0 0 23px;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: #1A1B22;
  }