.statistic__percent {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 12px;
    line-height: 1;
    text-align: center;
    letter-spacing: 0.4px;
    text-transform: uppercase;
    color: #B6BCBF;
  }