.card__text {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  justify-self: self-end;
  color: #1A1B22;
  margin: 0 0 18px;
  max-width: 352px;
  min-height: 22px;
  max-height: 110px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
}

@media screen and (max-width: 890px) {
  .card__text {
    margin-bottom: 16px;
  }
}

@media screen and (max-width: 550px) {
  .card__text {
    margin-bottom: 4px;
    line-height: 1.4;
  }
}