@import url(./__subtitle/not-found__subtitle.css);
@import url(./__title/not-found__title.css);
@import url(./_visible/not-found_visible.css);
.not-found {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 374px;
  background: #F5F6F7;
}

.not-found_visible {
  display: flex;
}