@import url(./__link/section-top__link.css);
@import url(./__title/section-top__title.css);
.section-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 72px 104px 65px;
}

@media screen and (max-width: 1024px) {
  .section-top {
    margin: 60px;
  }
}


@media screen and (max-width: 890px) {
  .section-top {
    margin: 40px 40px 32px;
  }
}